[project]
	description = RDO Project Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rbartal
[access "refs/for/refs/*"]
	read = group user/rbartal
	push = group user/rbartal
	label-Code-Review = -2..+2 group user/rbartal
	label-Verified = -1..+1 group user/rbartal
	rebase = group user/rbartal
	removeReviewer = group user/rbartal
	submit = group user/rbartal
[access "refs/heads/*"]
	read = group user/rbartal
	create = group user/rbartal
	push = +force group user/rbartal
	pushMerge = group user/rbartal
[access "refs/tags/*"]
	push = group user/rbartal
	push = +force group user/rbartal
